<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969625644281-naak8mhbsvbhr12tnaguu4rqhfg1tkdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969625644281-naak8mhbsvbhr12tnaguu4rqhfg1tkdj</string>
	<key>API_KEY</key>
	<string>AIzaSyBZjECnFO1QmNM_0ulO_rquJBVdpITw51E</string>
	<key>GCM_SENDER_ID</key>
	<string>969625644281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skywanderApp</string>
	<key>PROJECT_ID</key>
	<string>skywander-hhjol</string>
	<key>STORAGE_BUCKET</key>
	<string>skywander-hhjol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969625644281:ios:2794d956c8112f72a58628</string>
</dict>
</plist>